{% extends "layout.html" %}

{% block main %}

    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
    <h1 class="mb-3">Form</h1>

    <!-- http://getbootstrap.com/docs/4.1/components/forms/ -->
    <form action="/form" method="post">

<!-- TODO start-->
<form class="form-horizontal">
<fieldset>

    <!-- Textarea 2-->
  <div class="form-group">
    <input name="name" class="form-comtrol form-comtrol-lg" type="text" id="text_Field" placeholder="Name" required>
  </div>

    <!-- Select Basic -->
  <div class="control-group">
    <div class="controls">
    <select id="House" name="selectbasic" class="input-xlarge" >
      <option selected disabled>House</option>
      <option>Slytherin</option>
      <option>Gryffindor</option>
      <option>Hufflepuff</option>
      <option>Ravenclaw</option>
    </select>
    </div>
  </div>

  <br />

    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
      <label class="form-check-label" for="exampleRadios1">
        Beater
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
      <label class="form-check-label" for="exampleRadios2">
        Chaser
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
      <label class="form-check-label" for="exampleRadios3">
        Keeper
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option4">
      <label class="form-check-label" for="exampleRadios4">
        Seeker
      </label>
    </div>

  <br />

   <!-- http://getbootstrap.com/docs/4.1/components/buttons/ -->
    <button class="btn btn-primary" type="submit">Submit</button>

</fieldset>
</form>
<!-- TODO END-->


    <script>

/*        document.getElementById('text_Field').addEventListener('input', function (e) {
          let cns = e.target.value;
          console.log(cns)
          if (cns == "") render_template("error.html", message="эта таблица еще не сделана")
        });
*/

    </script>


<!--        <div class="alert alert-warning" role="alert">
          Please, inpute text!
        </div> -->


{% endblock %}
